﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mundo Visual Studio</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <a href="~/Home/Imprimir" class="btn btn-primary" target="_blank">Imprimir</a>
        </div>
    </div>
</div>